<ion-header>
  <ion-toolbar>
    <ion-title>Formulario de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="enviar()">
    <!-- Nombre -->
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text" required></ion-input>
    </ion-item>

    <!-- Apellido -->
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="apellido" type="text" required></ion-input>
    </ion-item>

    <!-- Correo -->
    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input formControlName="correo" type="email" required></ion-input>
    </ion-item>

    <!-- Teléfono -->
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input formControlName="telefono" type="tel" required></ion-input>
    </ion-item>

    <!-- Dirección -->
    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input formControlName="direccion" type="text" required></ion-input>
    </ion-item>

    <!-- Género -->
    <ion-item>
      <ion-label>Género</ion-label>
      <ion-select formControlName="genero" required>
        <ion-select-option value="M">Masculino</ion-select-option>
        <ion-select-option value="F">Femenino</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- País -->
    <ion-item>
      <ion-label>País</ion-label>
      <ion-select formControlName="pais" required>
        <ion-select-option value="Ecuador">Ecuador</ion-select-option>
        <ion-select-option value="México">México</ion-select-option>
        <ion-select-option value="Peru">Peru</ion-select-option>
      </ion-select>
    </ion-item>


    <!-- Hobbies -->
    <ion-item>
      <ion-label>Hobbies</ion-label>
      <ion-select formControlName="hobbies" required>
        <ion-select-option value="Futbol">Futbol</ion-select-option>
        <ion-select-option value="Basquet">Basquet</ion-select-option>
        <ion-select-option value="Tenis">Tenis</ion-select-option>
      </ion-select>
    </ion-item>


    <!-- Comentarios -->
    <ion-item>
      <ion-label position="floating">Comentarios</ion-label>
      <ion-textarea formControlName="comentarios" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label>
      <ion-input type="date" formControlName="fechaNacimiento"></ion-input>
    </ion-item>

    <!-- Botón de enviar -->
    <ion-button expand="full" type="submit" color="primary" class="ion-margin-top" [disabled]="!form.valid">
      Guardar
    </ion-button>
  </form>
</ion-content>