ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  --inner-padding-start: 10px;
  --inner-padding-end: 10px;
}

ion-label {
  font-weight: bold;
}

ion-input,
ion-textarea,
ion-select {
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-button {
  --background: #3880ff;
  --border-radius: 10px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-header {
  --background: #3880ff;
}

ion-toolbar {
  --background: #3880ff;
}

ion-title {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

ion-datetime {
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-select {
  --background: #f1f1f1;
}

form {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

ion-item {
  margin-bottom: 20px;
}
